{% extends 'base.html.twig' %}

{% block title %}Test Blog{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Test Blog</h1>
            </div>
        </div>
    </section>
    <div class="container">
        {% for entry in blog_entries %}
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.content }}</p>
        {% endfor %}
    </div>
{% endblock %}
