<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Blog{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="index.php">Home</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
